// Custom Settings
// ---
//
// Override the default foundation-emails styles here.
//
// It's best - and often easiest - to accomplish your needs by overriding the
// many foundation-emails settings. That said, this file can be used to add
// additional styles that the settings don't accommodate. (Hint: you may find
// youself needing to use !important.)
//
// @see https://get.foundation/emails/docs/

// The following overrides are just an example. Do with them as you wish.
// @see https://gist.github.com/aamyot/f8d323600efd4d220e7a302ec1697c87

.logo {
  height: auto !important;
  width: 294px !important;
}

h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subtitle {
  color: #8E8C83;
}

.main .separator {
  background-color: #DCD7C9 !important;
  border: 0;
  border-top: 1px solid #DCD7C9;
  display: block;
  height: 1px;
}

.img-block {
  padding-right: 16px;
  width: 48px;
}

.order-summary-columns {
  padding-bottom: 0 !important;
}

table p {
  margin-bottom: 0px !important;
}

.footer p {
  color: #222 !important;
  margin: 4px 0;
}

.footer p a {
  color: #34634b !important;
  text-decoration: underline;
}

.footer img {
  height: auto;
  margin: 0 auto;
  width: 36px !important;
}
