// Custom Settings
// ---
//
// Override the default foundation-emails settings here.
//
// @see https://github.com/foundation/foundation-emails/blob/develop/scss/settings/_settings.scss
// @see https://get.foundation/emails/docs/

// The following overrides are just an example. Do with them as you wish.
// @see https://gist.github.com/aamyot/f8d323600efd4d220e7a302ec1697c87
$body-background: #DCD7C9;
$primary-color: #34634b;
$global-width: 586px;
$global-font-color: #34634b;
$global-font-size: 14px;
$body-font-family: Helvetica, Arial, sans-serif;
$button-font-weight: bold;
$button-margin: 0;
$button-background: #d14424;
$header-color: #d14424;
$header-font-family: Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$h3-font-size: 28px;
$body-line-height: 22px;
$global-gutter: 16px;
$small-font-size: 11px;
$small-font-color: inherit;
$anchor-color: inherit;
$thumbnail-border: none;
$thumbnail-margin-bottom: 0px;
$thumbnail-shadow: none;
$thumbnail-shadow-hover: none;
$thumbnail-transition: none;
$thumbnail-radius: 0px;
